.about {

////// ABOUT HEADER
  &-header {

    &-link {
      position: absolute;
      top: 5%;
      right: 5%;
      z-index: 10;

      @include respond(tablet) {
        top: 2%;
      }

      &-text {
        text-transform: uppercase;
        color: $color-primary;
        font-size: 4rem;
        font-weight: 600;

        @include respond(mobile-lg) {
          font-size: 3rem;
        }
      }
    }

    &-button-back {
      position: absolute;
      top: 2%;
      left: 1%;

      @include respond(tablet) {
        top: 1.5%;
      }

      @include respond(mobile-lg) {
        top: 1%;
      }

      @include respond(mobile-sm) {
        top: .6%;
      }

      &-icon {
        color: $color-primary-dark;
        font-size: 2rem;
        position: absolute;
        bottom: .8rem;

        @include respond(mobile-sm) {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      &-text {
        text-transform: uppercase;
        color: $color-primary-dark;
        display: inline-block;
        letter-spacing: 3px;
        margin-left: 2.5rem;

        @include respond(mobile-sm) {
          font-size: .8rem;
        }
      }

      &-link {

        &:hover,
        &:active {
          text-decoration: none;
        }
      }
      @include respond(for-menu) {
        &:hover,
        &:active {
          transform: scale(1.05);
          transition: transform .4s;
        }
      }
    }
  }

////// ABOUT CONTENT
  &-content {
    position: relative;
    background-color: $color-primary;
    -webkit-clip-path: polygon(0 5%, 100% 20%, 100% 95%, 0 80%);
    clip-path: polygon(0 5%, 100% 20%, 100% 95%, 0 80%);

    @include respond(tablet) {
      -webkit-clip-path: polygon(0 3%, 100% 7%, 100% 97%, 0 93%);
      clip-path: polygon(0 3%, 100% 7%, 100% 97%, 0 93%);
    }

    &-wrapper {
      padding: 30rem 0 35rem 0;

      @include respond(tablet) {
        padding: 20rem 0 30rem 0;
      }

      @include respond(mobile-lg) {
        padding: 15rem 0 20rem 0;
      }

      &-left {
        padding-top: 6rem;

        &-photo {
          overflow: hidden;
          width: 100%;
          height: 100%;

          @include respond(tablet) {
            width: 50%;
            margin: 0 auto;
          }

          &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &-right {
        padding: 4rem;

        &-heading {
          font-size: 3rem;
          text-align: center;
          margin-bottom: 3rem;
          color: $color-primary-dark;

          @include respond(mobile-lg) {
            font-size: 2.5rem;
          }

          @include respond(mobile-sm) {
            font-size: 2rem;
          }
        }

        &-text {
          color: $color-primary-dark;
          font-size: 2rem;

          @include respond(mobile-lg) {
            font-size: 1.5rem;
          }

          @include respond(mobile-sm) {
            font-size: 1.2rem;
          }
        }
      }

      &-bottom {

        &-photo {
          overflow: hidden;
          height: 100%;
          width: 100%;
          margin: 0 auto;
          transition: transform .4s ease;
          z-index: 10;

          @include respond(tablet) {
            height: 80%;
            width: 80%;
          }

          @include respond(mobile-lg) {
            width: 100%;
            height: 100%;
          }

          &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
