.contact {

  ////// CONTENT HEADER
    &-header {

      &-title {
        position: absolute;
        top: 5%;
        right: 5%;
        z-index: 10;

        @include respond(tablet) {
          top: 2%;
        }

        &-heading{
          text-transform: uppercase;
          color: $color-primary;
          font-size: 4rem;
          font-weight: 600;

          @include respond(mobile-lg) {
            font-size: 3rem;
          }
        }
      }

      &-button-back {
        position: absolute;
        top: 2%;
        left: 1%;

        @include respond(tablet) {
          top: 1.5%;
        }

        @include respond(mobile-lg) {
          top: 1%;
        }

        @include respond(mobile-sm) {
          top: .6%;
        }

        @include respond(for-menu) {
          &:hover,
          &:active {
            transform: scale(1.05);
            transition: transform .4s;
          }
        }

        &-icon {
          color: $color-primary-dark;
          font-size: 2rem;
          position: absolute;
          bottom: .8rem;

          @include respond(mobile-sm) {
            width: 1.5rem;
            height: 1.5rem;
          }
        }

        &-text {
          text-transform: uppercase;
          color: $color-primary-dark;
          display: inline-block;
          letter-spacing: 3px;
          margin-left: 2.5rem;

          @include respond(mobile-sm) {
            font-size: .8rem;
          }
        }

        &-link {

          &:hover,
          &:active {
            text-decoration: none;
          }
        }
      }
    }

      ////// CONTACT CONTENT
      &-content {
        position: relative;
        background-color: $color-primary;
        -webkit-clip-path: polygon(0 5%, 100% 20%, 100% 95%, 0 80%);
        height: 100rem;

        @include respond(tablet) {
          -webkit-clip-path: polygon(0 3%, 100% 7%, 100% 97%, 0 93%);
          clip-path: polygon(0 3%, 100% 7%, 100% 97%, 0 93%);
        }

        &-wrapper {
          padding: 30rem 0 35rem 0;

          @include respond(tablet) {
            padding: 15rem 0 30rem 0;
            margin-top: 5rem;
            margin-bottom: 5rem;
          }

          @include respond(mobile-lg) {
            padding: 15rem 0 20rem 0;
          }

          &-row {
            background-color: $color-primary-light;
            margin-left: 30rem;
            margin-right: 30rem;

            @include respond(laptop) {
              margin-left: 18rem;
              margin-right: 18rem;
            }

            @include respond(tablet-lg) {
              margin-left: 10rem;
              margin-right: 10rem;
            }

            @include respond(tablet) {
              margin-left: 5rem;
              margin-right: 5rem;
            }

            @include respond(mobile-lg) {
              margin-left: 1rem;
              margin-right: 1rem;
            }
          }

          ////// LEFT SIDE CONTACT ME
          &-left {
            background-color: $color-primary-dark;
            padding: 5rem 5rem 3rem 5rem;
            animation: contact 1s ease-out;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-50%, -50%);

            @include respond(tablet) {
              position: relative;
              top: 6%;
              left: 0;
              transform: translate(0, 0);
              animation: none;
              box-shadow: 0px 0px 0px 0px;
            }

            @include respond(laptop) {
              padding: 5rem 3rem 3rem 3rem;
            }

            &-heading {
              color: $color-primary-light;
              text-transform: uppercase;
              margin-bottom: 3rem;

              @include respond(tablet) {
                text-align: center;
              }
            }

            &-list {

              &-item {
                list-style: none;
                transition: transform .4s;

                &:hover {
                  transform: scale(1.1);
                }

                &-link {
                  display: flex;
                  margin-bottom: 2rem;

                  &:hover,
                  &:active {
                    text-decoration: none;
                  }

                  &-icon {
                    font-size: 2rem;
                    color: $color-primary-light;
                    margin-right: 2rem;
                  }

                  &-text {
                    color: $color-primary-light;
                    font-size: 1.3rem;
                  }
                }
              }
            }
          }


          ////// RIGHT SIDE GET IN TOUCH
          &-right {
            background-color: $color-primary-light;
            padding: 5rem 5rem 5rem 0;

            @include respond(tablet) {
              padding: 5rem 0;
              text-align: center;
            }

            &-heading {
              text-transform: uppercase;
              color: $color-primary-dark;
              margin-bottom: 2rem;
            }

            &-form {
              input::placeholder,
              textarea::placeholder {
                color: $color-primary;
              }
            }

            &-button {
              color: $color-primary-light;
              background-color: $color-primary;
              text-transform: uppercase;
              padding: 1rem 3rem;
              border-radius: .3rem;
              letter-spacing: .3rem;
              transition: background-color .4s;

              &:hover,
              &:active {
                background-color: $color-primary-dark;
              }

              &:focus {
                outline: none;
              }
            }
          }
        }
      }
}

@keyframes contact {
  0% {
    left: -100%;
  }
  75% {
    left: 30%;
  }
  100% {
    left: 20%;
  }
}
