.footer {
  padding: 5rem 0 5rem 0;
  position: relative;

////// LOGO
  &-logo {
    margin-bottom: 3rem;

    &-wrapper {
      margin: 0 auto;
      max-width: 13rem;
    }

    &-img {
      width: 100%;
    }
  }

////// SOCIAL ICONS
  &__social {
    text-align: center;

    &-link {

      & i {
        color: $color-primary-light;
        font-size: 3rem;
        margin: 0 3rem 4rem;
        transition: all .4s;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

////// MENU
  &-menu {
    @include respond(mobile-lg) {
      text-align: center;
    }

    &-list {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-bottom: 4rem;

      @include respond(mobile-lg) {
        display: inline-block;
        text-align: center;
      }

      &__item {
        text-transform: uppercase;
        padding: 0 3rem;
        font-size: 1.1rem;

        @include respond(tablet) {
          padding: .5rem 2rem;
        }

        &-link {
          color: $color-primary-light;

          &:hover,
          &:active {
            text-decoration: none;
            color: $color-primary;
            transition: all .4s;
          }
        }
      }
    }

  }

////// COPYRIGHT
  &__copyright {
    text-align: center;
    color: $color-primary-light;
    font-size: 1.2rem;
  }

////// BACK TO TOP BUTTON
  &__backtop {
    position: absolute;
    right: 0;
    top: 55%;
    width: 11rem;
    cursor: pointer;

    &-wrapper {
      position: relative;
      text-transform: uppercase;
      color: $color-primary-light;

      &:hover,
      &:active {
        text-decoration: none;
        color: $color-primary;
      }

      &--icon {
        color: $color-primary-light;
        font-size: 2rem;
        position: absolute;
        top: -7rem;
        left: 4.6rem;
      }

      & p {
        transform: rotate(-90deg);
        margin-bottom: 0;
        letter-spacing: 3px;
        display: inline-block;
      }

      @include respond(tablet) {
          display: none;
      }
    }
  }
}
