.header {
  padding: 6.5rem;
  text-align: center;

  @include respond(tablet) {
    padding: 3rem;
  }

////// HEADER MAIN LOGO
  &-logo {

    &-wrapper {
      max-width: 20rem;
      margin: 0 auto;
      margin-bottom: 3rem;

      @include respond(tablet) {
        margin-bottom: 1rem;
      }
    }

    &-img {
      width: 100%;
    }
  }

////// HEADER MAIN MENU
  &-menu {
    padding-top: 2rem;

    @include respond(mobile-lg) {
      display: none;
    }

    &-list {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-bottom: 0;

      &__item {
        text-transform: uppercase;
        padding: 0 3rem;
        font-size: 1.1rem;

        @include respond(tablet) {
          padding: 0 2rem;
        }

        &-link {
          color: $color-primary;

          &:hover,
          &:active {
            text-decoration: none;
            color: $color-primary-dark;
            transition: all .4s;
          }
        }
      }
    }
  }

////// HEADER HIDDEN LOGO
  &-fixed-logo {
    max-width: 10rem;
    position: absolute;
    top: 1rem;
    left: 6%;
    display: none;

    &-img {
      width: 100%;
    }

    @include respond(tablet) {
      max-width: 8rem;
      left: 3%;
    }

    @include respond(mobile-lg) {
      display: none;
    }
  }
}
