.portfolio {
  margin-bottom: 3rem;

  @include respond(tablet) {
    margin-bottom: 0;
  }

  &-row {

    &__col {
      overflow: hidden;
      height: 30rem;

      @include respond(tablet) {
        margin-bottom: 3rem;
      }

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
