.slideshow {
  overflow: hidden;
  margin-bottom: 3rem;

  &-item {
    height: 60rem;

    @include respond(mobile-lg) {
      height: 40rem;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

////// SLICK SLIDESHOW
.slick {

  &-arrow {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 7rem;
    background-color: transparent;
    color: transparent;
    border: none;

    &:hover,
    &:active {
      otline: none;
    }

    &:focus {
      outline: none;
    }
  }

  &-prev {
    left: 0;

    &:hover,
    &:active {
      background: linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.3), rgba(0,0,0,0));
    }
  }

  &-next {
    right: 0;

    &:hover,
    &:active {
      background: linear-gradient(90deg, rgba(0,0,0,0.0), rgba(0,0,0,0.3), rgba(0,0,0,0.5));
    }
  }
}


////// CUSTOM BUTTONS
.arrow {

  &-prev {
    position: absolute;
    left: 2.5%;
    top: 50%;
    color: rgba($color-primary-light, .6);
    font-size: 3rem;
  }

  &-next {
    position: absolute;
    right: 2.5%;
    top: 50%;
    color: rgba($color-primary-light, .6);
    font-size: 3rem;
  }
}
