.menu-button {

  @include respond(for-menu) {
    display: none;
  }

  &_icon {
    position: relative;
    margin-top: 2rem;

    &,
    &::before,
    &::after {
        width: 8rem;
        height: 1px;
        background-color: $color-primary-dark;
        display: inline-block;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
    }

    &::before { top: -.8rem; }
    &::after { top: .8rem; }
  }

  &-wrapper {
    display: none;
  }

  &-list {
    list-style: none;

    &__item {
      text-transform: uppercase;
      margin: 1rem;

      &-link {
        color: $color-primary-dark;

        &:hover,
        &:active {
          text-decoration: none;
          color: $color-primary-dark;
        }
      }
    }
  }
}

////// CLICKED MENU
.menu-open {
  background-color: $background-color;

  &::before {
    width: 2.5rem;
    transform: rotate(45deg);
    top:0;
    left: 34%;
  }

  &::after {
    width: 2.5rem;
    transform: rotate(-45deg);
    top: 0;
    left: 34%;
  }

}
