*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  background-color: $background-color;
}
.container {
  max-width: 1300px;

  @include respond(mobile-lg) {
    padding: 0;
  }
}
