////// POSITION RELATIVE FOR SLIDESHOW CONTAINER
.pos-rel {
  position: relative;
}


////// FIXED MENU (ONLY LARGE SCREEN)
@include respond(for-menu) {
  .pos-fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    z-index: 10;
    padding: 2rem;
    background-color: $color-primary-light;
    transition: background-color .8s;
  }
}


////// MARGIN TOP FOR SLIDESHOW (ONLY LARGE SCREEN)
.mar-top {
  margin-top: 4rem;

  @include respond(mobile-lg) {
      margin-top: 0;
  }
}

////// TOGGLE DISPLAY FOR MENU LIST
.disp-show {
  display: block;
}

////// MARGIN BOTTOM FOR 1st ROW IN ABOUT
.mb-custom {
  margin-bottom: 10rem;

  @include respond(mobile-lg) {
    margin-bottom: 5rem;
  }
}

////// ONLY FOR MOBILE RESPONSIVE
.no-margin-mobile {
  @include respond(mobile-lg) {
    margin-right: 0;
    margin-left: 0;
  }
}

.no-padding-mobile {
  @include respond(mobile-lg) {
    padding-left: 0;
    padding-right: 0;
  }
}
