.section {

////// HEADER
  &-head {

  }

////// FIXED SOCIAL ICONS
  &__social {
    position: fixed;
    left: 0;
    background-color: $color-primary-light;
    padding: 0 1rem;
    border-radius: 0 .6rem .6rem 0;
    z-index: 50;

    &-link {

      &:hover,
      &:active {
        text-decoration: none;
      }

      & i {
        font-size: 3rem;
        color: $color-primary;
        display: block;
        margin: 1rem 0;
        transition: color .5s;

        &:hover {
          color: $color-primary-dark;
        }
      }
    }

    @include respond(mobile-lg) {
        display: none;
    }
  }

////// SLIDESHOW
  &-slide {

  }

////// PORTFOLIO (GALLERY)
  &-portfolio {
    margin-bottom: 20rem;

    @include respond(tablet) {
      margin-bottom: 5rem;
    }
  }

////// FOOTER
  &-footer {
    background-color: $color-primary-dark;
  }

////// SECTION ABOUT
  &-about {
    background-color: $background-color;
    position: relative;
  }

////// SECTION CONTENT
  &-content {
    background-color: $background-color;
    position: relative;
  }
}
